body {
    background-color:hsla(350, 100%, 88%, 0.592);
    
}

#titulo{
    font-size: 30px;
    text-align: center;
    color:#DC143C;
}


.texto{
    text-align: center;
    color:#C71585;
    font-size: 20px;
}