
body {
    background-color:hsla(350, 100%, 88%, 0.592);
    
}
#titulo {
    font-size: 30px;
    text-align: center;
    color: rgb(83, 5, 49);
}
.texto {
    text-align: center;
    color: rgb(226, 43, 137);
    font-size: 20px;
}
#banner {
    background-color: white;
    width: 30%;
    display:block;
    padding: 10px;
    margin: 10px;
}
.banner {
    background-image: linear-gradient(rgb(247, 185, 205));
    color: rgb(241, 40, 168);
}
.titulo {
    background-image: linear-gradient(#df0fd5,#de9fdb);
    color: white;
}
.lista {
    color: #df0fd5;
}
